<%= render('users/style') %>
<div class="seccion2">
	<h1>Configuracion</h1>
	<%= render('menuDer') %>
	<div class="editar">
		<%= render 'form' %>
		<%= link_to 'Atras', user_path(@usuario.seudonimo) %>
	</div>
</div>
