<div id = "derHome">
	<p id="notice"><%= notice %></p>

<h3>Sigue lo que te interesa</h3>
<p>Actualizaciones de tus amigos, expertos,tus artistas favoritos y lo que este pasando al rededor del mundo</p>
</div>
<!-- <%= link_to "Registrate!", signup_path, :class => "signup_button round" %> -->

<div id = "registro">
	<p>Si quieres unirte?? registrate ya!</p>
<%= render 'formNew' %>
</div>

