<header>
	<%= link_to logo, root_path, :class => "logo" %>
	<nav class="round">
		<form>
			<ul>
				<li>
					<INPUT type="text" id="nombre" value ="Usuario" class = "signup_button round">
				</li>
				<li>
					<INPUT type="text" id="pass" value ="Contrasena" class = "signup_button round">
				</li>
				<li>
					<INPUT type="button" id="Enviar" value="Loging" class = "signup_button round">
				</li>
			</ul>
		</form>
	</nav>
</header>